.contato {
  height:50vh;
  display:flex;
  align-items:center;
  justify-content:center;
  background-color:#fcfafa;
}

.card {
  background-color:#050505;
  padding:5px;
  border: 3px solid #d4af37;
  border-radius:15px;
  color:#d4af37;
  text-align:center;
  flex: 1;
}

.card a {
  line-height:40px
}