nav {
  display:flex;
  justify-content:space-between;
  padding:5px auto;
  background:#050505;
  border-bottom: 1.5px solid #c9a227;
}

nav img {
  width: 350px;
}

nav h2 {
  color:#d4af37;
  font-style:italic
}

nav a {
  margin:0 15px;
  color:#d4af37
}